<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <!-- TODO #3 - Use the same list display from search.html -->

    <div th:if="${jobs} and ${jobs.size()}">
        <table>
            <tr>
                <td th:text="${jobs.size()}"></td>
                <td>Listings</td>
            </tr>
        </table>
        <table>
            <tr th:each="item, idx : ${jobs}" th:class="${idx.odd} ? 'odd'">
                <table width="70%" align="left" border="0.5">
                    <tr th:each="key, idx : ${item}">
                        <td th:text="${key.key}" style="font-weight:bold;"></td>
                        <td th:text="${key.value}" width="50%"></td>
                    </tr>
                </table>
            </tr>
        </table>
    </div>

</div>

</body>
</html>